@model LogKyrcach.Models.Installedsoftware

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Installedsoftware</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSoftware" class="control-label"></label>
                <select asp-for="IdSoftware" class ="form-control" asp-items="ViewBag.IdSoftware"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdComputer" class="control-label"></label>
                <input asp-for="IdComputer" class="form-control" />
                <span asp-validation-for="IdComputer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseStart" class="control-label"></label>
                <input asp-for="LicenseStart" class="form-control" />
                <span asp-validation-for="LicenseStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseEnd" class="control-label"></label>
                <input asp-for="LicenseEnd" class="form-control" />
                <span asp-validation-for="LicenseEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeLicenseId" class="control-label"></label>
                <select asp-for="TypeLicenseId" class ="form-control" asp-items="ViewBag.TypeLicenseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEnginere" class="control-label"></label>
                <select asp-for="IdEnginere" class ="form-control" asp-items="ViewBag.IdEnginere"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdRoom" class="control-label"></label>
                <input asp-for="IdRoom" class="form-control" />
                <span asp-validation-for="IdRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
